<h1>Homes#index</h1>
<p>Find me in app/views/homes/index.html.erb</p>

<a href="/homes/second">2 페이지로 가기</a>

<hr>

<form action="/homes/second" method="get">
    숫자: <input type="text" name="numb">
    <input type="submit" value="제출">
</form>